AppLibres/build/
AppLibres/test
AppLibres/*.jar
AppLibres/lib/
AppLibres/nbproject/private/private.properties
/AppLibres/bdd/facturas.db
/AppLibres/dist/
AppLibres/nbproject/private/private.xml
AppLibres/src/conexionBDD/Conexion.java
AppLibres/nbproject/*
/AppLibres/nbproject/*
AppLibres/nbproject/
/AppLibres/nbproject/
